<!DOCTYPE html>
<html>
<head>
  <title>app_name</title>
  <%= render partial: "layouts/include" %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render partial: "layouts/header" %>
  <div class="container">
    <%= render partial: "layouts/alert" %>
    <%= yield %>
  </div>
</body>
<footer>
  <%= render partial: "layouts/footer" %>
</footer>
</html>
